<launch>
  <!-- 修改这里：使用xacro命令加载模型 -->
  <param name="robot_description"
         command="$(find xacro)/xacro $(find racecar_description)/urdf/racecar.urdf.xacro"/>

  <!-- 加载 Gazebo 并指定世界文件 -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find fsac_track_worlds)/worlds/fsac_track.world"/>
  </include>

  <!-- 启动生成随机偏航角并生成小车的脚本 -->
  <node name="generate_yaw_and_spawn" pkg="racecar_description" type="generate_yaw.py" output="screen" />
</launch>